In [23]:
#Import depencies 
import pandas as pd
import numpy as np
from pathlib import Path
import datetime as dt

In [24]:
#Read in CSV 
tobacco_use = pd.read_csv('../data/Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
tobacco_use.head()

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2018,AK,Alaska,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(64.84507995700051, -147.72205903599973)",BEH,150BEH,177SCU,1GEN,8AGE,6RAC,6EDU,BRF70,70
1,2018,MD,Maryland,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(39.29058096400047, -76.60926011099963)",BEH,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
2,2018,MO,Missouri,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(38.635790776000476, -92.56630005299968)",BEH,107BEH,174ECU,1GEN,8AGE,5RAC,6EDU,BRF54,54
3,2018,MT,Montana,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(47.06652897200047, -109.42442064499971)",BEH,107BEH,174ECU,1GEN,8AGE,4RAC,6EDU,BRF54,54
4,2018,MT,Montana,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(47.06652897200047, -109.42442064499971)",BEH,150BEH,177SCU,1GEN,8AGE,5RAC,6EDU,BRF71,71

In [25]:
# #iterate through the columns
# for col in tobacco_use:
#     print(col)

In [26]:
tobacco_use_df = tobacco_use[["LocationDesc", "YEAR", "LocationAbbr", "TopicDesc", "MeasureDesc", "Data_Value", "Gender", "Race", "Age", "GeoLocation"]]
tobacco_use_df.head()

,LocationDesc,YEAR,LocationAbbr,TopicDesc,MeasureDesc,Data_Value,Gender,Race,Age,GeoLocation
0,Alaska,2018,AK,Smokeless Tobacco Use (Adults),Current Use,5.8,Overall,All Races,All Ages,"(64.84507995700051, -147.72205903599973)"
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
2,Missouri,2018,MO,E-Cigarette Use (Adults),Current Use,6.0,Overall,White,All Ages,"(38.635790776000476, -92.56630005299968)"
3,Montana,2018,MT,E-Cigarette Use (Adults),Current Use,6.6,Overall,Hispanic,All Ages,"(47.06652897200047, -109.42442064499971)"
4,Montana,2018,MT,Smokeless Tobacco Use (Adults),Current Use,6.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"

In [27]:
tobacco_use_df.columns = ["state", "year", "abbr", "description", "measure", "value", "gender", "race", "age", "geolocation"]
tobacco_use_df.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
0,Alaska,2018,AK,Smokeless Tobacco Use (Adults),Current Use,5.8,Overall,All Races,All Ages,"(64.84507995700051, -147.72205903599973)"
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
2,Missouri,2018,MO,E-Cigarette Use (Adults),Current Use,6.0,Overall,White,All Ages,"(38.635790776000476, -92.56630005299968)"
3,Montana,2018,MT,E-Cigarette Use (Adults),Current Use,6.6,Overall,Hispanic,All Ages,"(47.06652897200047, -109.42442064499971)"
4,Montana,2018,MT,Smokeless Tobacco Use (Adults),Current Use,6.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"

In [28]:
tobacco_use_df = tobacco_use_df.dropna()
tobacco_use_df.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
0,Alaska,2018,AK,Smokeless Tobacco Use (Adults),Current Use,5.8,Overall,All Races,All Ages,"(64.84507995700051, -147.72205903599973)"
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
2,Missouri,2018,MO,E-Cigarette Use (Adults),Current Use,6.0,Overall,White,All Ages,"(38.635790776000476, -92.56630005299968)"
3,Montana,2018,MT,E-Cigarette Use (Adults),Current Use,6.6,Overall,Hispanic,All Ages,"(47.06652897200047, -109.42442064499971)"
4,Montana,2018,MT,Smokeless Tobacco Use (Adults),Current Use,6.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"

In [29]:
clean_tobacco_usedf = tobacco_use_df[(tobacco_use_df.description == 'Cigarette Use (Adults)') & (tobacco_use_df.measure == 'Current Smoking')]
clean_tobacco_usedf.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
10,Missouri,2015,MO,Cigarette Use (Adults),Current Smoking,22.3,Overall,All Races,All Ages,"(38.635790776000476, -92.56630005299968)"
13,Maryland,2011,MD,Cigarette Use (Adults),Current Smoking,19.6,Overall,White,All Ages,"(39.29058096400047, -76.60926011099963)"
14,Minnesota,2011,MN,Cigarette Use (Adults),Current Smoking,20.1,Overall,Hispanic,All Ages,"(46.35564873600049, -94.79420050299967)"
28,Kentucky,2018,KY,Cigarette Use (Adults),Current Smoking,29.4,Female,All Races,18 to 44 Years,"(37.645970271000465, -84.77497104799966)"

In [30]:
clean_tobacco = clean_tobacco_usedf[(clean_tobacco_usedf.gender == 'Overall') & (clean_tobacco_usedf.race == 'All Races') & (clean_tobacco_usedf.age == 'All Ages')]
clean_tobacco.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
10,Missouri,2015,MO,Cigarette Use (Adults),Current Smoking,22.3,Overall,All Races,All Ages,"(38.635790776000476, -92.56630005299968)"
173,Florida,2016,FL,Cigarette Use (Adults),Current Smoking,15.5,Overall,All Races,All Ages,"(28.932040377000476, -81.92896053899966)"
361,Mississippi,2018,MS,Cigarette Use (Adults),Current Smoking,20.5,Overall,All Races,All Ages,"(32.745510099000455, -89.53803082499968)"
379,Kentucky,2017,KY,Cigarette Use (Adults),Current Smoking,24.6,Overall,All Races,All Ages,"(37.645970271000465, -84.77497104799966)"
472,Arkansas,2016,AR,Cigarette Use (Adults),Current Smoking,23.6,Overall,All Races,All Ages,"(34.74865012400045, -92.27449074299966)"

In [31]:
clean_tobacco_df = clean_tobacco[["state", "year", "value"]]
clean_tobacco_df

             state  year  value
10        Missouri  2015   22.3
173        Florida  2016   15.5
361    Mississippi  2018   20.5
379       Kentucky  2017   24.6
472       Arkansas  2016   23.6
...            ...   ...    ...
42831      Wyoming  2019   18.4
42848  Connecticut  2019   12.1
43010    Minnesota  2019   14.6
43138      Montana  2019   16.6
43220     Oklahoma  2019   18.9

[476 rows x 3 columns]

In [32]:
clean_tobacco_df.columns = ["Year", "State", "tobacco_percentage"]
clean_tobacco_df

              Year State  tobacco_percentage
10        Missouri  2015                22.3
173        Florida  2016                15.5
361    Mississippi  2018                20.5
379       Kentucky  2017                24.6
472       Arkansas  2016                23.6
...            ...   ...                 ...
42831      Wyoming  2019                18.4
42848  Connecticut  2019                12.1
43010    Minnesota  2019                14.6
43138      Montana  2019                16.6
43220     Oklahoma  2019                18.9

[476 rows x 3 columns]

In [33]:
clean_tobacco_df.to_csv(r'../CleanData/tobacco.csv',index=False)