In [39]:
#Import depencies 
import pandas as pd
import numpy as np
from pathlib import Path
import datetime as dt

In [40]:
#Read in CSV 
tobacco_use = pd.read_csv('../data/Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv')
tobacco_use.head()

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2018,AK,Alaska,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(64.84507995700051, -147.72205903599973)",BEH,150BEH,177SCU,1GEN,8AGE,6RAC,6EDU,BRF70,70
1,2018,MD,Maryland,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(39.29058096400047, -76.60926011099963)",BEH,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
2,2018,MO,Missouri,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(38.635790776000476, -92.56630005299968)",BEH,107BEH,174ECU,1GEN,8AGE,5RAC,6EDU,BRF54,54
3,2018,MT,Montana,Tobacco Use – Survey Data,E-Cigarette Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(47.06652897200047, -109.42442064499971)",BEH,107BEH,174ECU,1GEN,8AGE,4RAC,6EDU,BRF54,54
4,2018,MT,Montana,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(47.06652897200047, -109.42442064499971)",BEH,150BEH,177SCU,1GEN,8AGE,5RAC,6EDU,BRF71,71

In [41]:
# #iterate through the columns
# for col in tobacco_use:
#     print(col)

In [42]:
tobacco_use_df = tobacco_use[["LocationDesc", "YEAR", "LocationAbbr", "TopicDesc", "MeasureDesc", "Data_Value", "Gender", "Race", "Age", "GeoLocation"]]
tobacco_use_df.head()

,LocationDesc,YEAR,LocationAbbr,TopicDesc,MeasureDesc,Data_Value,Gender,Race,Age,GeoLocation
0,Alaska,2018,AK,Smokeless Tobacco Use (Adults),Current Use,5.8,Overall,All Races,All Ages,"(64.84507995700051, -147.72205903599973)"
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
2,Missouri,2018,MO,E-Cigarette Use (Adults),Current Use,6.0,Overall,White,All Ages,"(38.635790776000476, -92.56630005299968)"
3,Montana,2018,MT,E-Cigarette Use (Adults),Current Use,6.6,Overall,Hispanic,All Ages,"(47.06652897200047, -109.42442064499971)"
4,Montana,2018,MT,Smokeless Tobacco Use (Adults),Current Use,6.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"

In [43]:
tobacco_use_df.columns = ["state", "year", "abbr", "description", "measure", "value", "gender", "race", "age", "geolocation"]
tobacco_use_df.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
0,Alaska,2018,AK,Smokeless Tobacco Use (Adults),Current Use,5.8,Overall,All Races,All Ages,"(64.84507995700051, -147.72205903599973)"
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
2,Missouri,2018,MO,E-Cigarette Use (Adults),Current Use,6.0,Overall,White,All Ages,"(38.635790776000476, -92.56630005299968)"
3,Montana,2018,MT,E-Cigarette Use (Adults),Current Use,6.6,Overall,Hispanic,All Ages,"(47.06652897200047, -109.42442064499971)"
4,Montana,2018,MT,Smokeless Tobacco Use (Adults),Current Use,6.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"

In [44]:
tobacco_use_df = tobacco_use_df.dropna()
tobacco_use_df.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
0,Alaska,2018,AK,Smokeless Tobacco Use (Adults),Current Use,5.8,Overall,All Races,All Ages,"(64.84507995700051, -147.72205903599973)"
1,Maryland,2018,MD,Cigarette Use (Adults),Current Smoking,14.0,Male,All Races,All Ages,"(39.29058096400047, -76.60926011099963)"
2,Missouri,2018,MO,E-Cigarette Use (Adults),Current Use,6.0,Overall,White,All Ages,"(38.635790776000476, -92.56630005299968)"
3,Montana,2018,MT,E-Cigarette Use (Adults),Current Use,6.6,Overall,Hispanic,All Ages,"(47.06652897200047, -109.42442064499971)"
4,Montana,2018,MT,Smokeless Tobacco Use (Adults),Current Use,6.4,Overall,White,All Ages,"(47.06652897200047, -109.42442064499971)"

In [45]:
filtered_df = tobacco_use_df.loc[(tobacco_use_df['year'] >= '2012')
                     & (tobacco_use_df['year'] <= '2017')]
filtered_df

,state,year,abbr,description,measure,value,gender,race,age,geolocation
6,North Carolina,2017,NC,E-Cigarette Use (Adults),Current Use,5.1,Male,All Races,All Ages,"(35.466220975000454, -79.15925046299964)"
7,Washington,2017,WA,Smokeless Tobacco Use (Adults),Current Use,0.9,Female,All Races,All Ages,"(47.52227862900048, -120.47001078999972)"
8,California,2016,CA,Smokeless Tobacco Use (Adults),Current Use,3.2,Male,All Races,All Ages,"(37.63864012300047, -120.99999953799971)"
9,Utah,2016,UT,Smokeless Tobacco Use (Adults),Current Use,3.3,Overall,White,All Ages,"(39.360700171000474, -111.58713063499971)"
10,Missouri,2015,MO,Cigarette Use (Adults),Current Smoking,22.3,Overall,All Races,All Ages,"(38.635790776000476, -92.56630005299968)"
...,...,...,...,...,...,...,...,...,...,...
39023,North Carolina,2012,NC,Cigarette Use (Adults),Smoking Status,25.5,Overall,All Races,All Ages,"(35.466220975000454, -79.15925046299964)"
39030,New Mexico,2012,NM,Smokeless Tobacco Use (Adults),Current Use,1.6,Overall,All Races,65 Years and Older,"(34.52088095200048, -106.24058098499967)"
39034,Texas,2012,TX,Cigarette Use (Adults),Smoking Status,17.3,Female,All Races,All Ages,"(31.827240407000488, -99.42677020599967)"
39035,Wisconsin,2012,WI,Cigarette Use (Adults),Current Smoking,14.8,Overall,All Races,Age 20 and Older,"(44.39319117400049, -89.81637074199966)"
39039,Tennessee,2012,TN,Smokeless Tobacco Use (Adults),Frequency of Use,31.4,Male,All Races,All Ages,"(35.68094058000048, -85.77449091399967)"

In [46]:
clean_tobacco_usedf = filtered_df[(filtered_df.description == 'Cigarette Use (Adults)') & (filtered_df.measure == 'Current Smoking')]
clean_tobacco_usedf.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
10,Missouri,2015,MO,Cigarette Use (Adults),Current Smoking,22.3,Overall,All Races,All Ages,"(38.635790776000476, -92.56630005299968)"
54,Oregon,2017,OR,Cigarette Use (Adults),Current Smoking,19.8,Overall,All Races,25 to 44 Years,"(44.56744942400047, -120.15503132599969)"
57,Puerto Rico,2017,PR,Cigarette Use (Adults),Current Smoking,6.6,Female,All Races,18 to 44 Years,"(18.220833, -66.590149)"
84,Michigan,2017,MI,Cigarette Use (Adults),Current Smoking,15.8,Overall,Hispanic,All Ages,"(44.6613195430005, -84.71439026999968)"
95,Rhode Island,2017,RI,Cigarette Use (Adults),Current Smoking,10.6,Overall,All Races,18 to 24 Years,"(41.70828019300046, -71.52247031399963)"

In [47]:
clean_tobacco = clean_tobacco_usedf[(clean_tobacco_usedf.gender == 'Overall') & (clean_tobacco_usedf.race == 'All Races') & (clean_tobacco_usedf.age == 'All Ages')]
clean_tobacco.head()

,state,year,abbr,description,measure,value,gender,race,age,geolocation
10,Missouri,2015,MO,Cigarette Use (Adults),Current Smoking,22.3,Overall,All Races,All Ages,"(38.635790776000476, -92.56630005299968)"
173,Florida,2016,FL,Cigarette Use (Adults),Current Smoking,15.5,Overall,All Races,All Ages,"(28.932040377000476, -81.92896053899966)"
379,Kentucky,2017,KY,Cigarette Use (Adults),Current Smoking,24.6,Overall,All Races,All Ages,"(37.645970271000465, -84.77497104799966)"
472,Arkansas,2016,AR,Cigarette Use (Adults),Current Smoking,23.6,Overall,All Races,All Ages,"(34.74865012400045, -92.27449074299966)"
620,Colorado,2017,CO,Cigarette Use (Adults),Current Smoking,14.6,Overall,All Races,All Ages,"(38.843840757000464, -106.13361092099967)"

In [55]:
clean_tobacco_df = clean_tobacco[["state", "year", "value"]]
clean_tobacco_df

               state  year  value
10          Missouri  2015   22.3
173          Florida  2016   15.5
379         Kentucky  2017   24.6
472         Arkansas  2016   23.6
620         Colorado  2017   14.6
...              ...   ...    ...
37761  West Virginia  2012   28.2
38154    Puerto Rico  2012   12.6
38235   North Dakota  2012   21.2
38588     New Mexico  2012   19.3
38778          Texas  2012   18.2

[318 rows x 3 columns]

In [56]:
clean_tobacco_df.columns = ["State", "Year", "tobacco_percentage"]
clean_tobacco_df

               State  Year  tobacco_percentage
10          Missouri  2015                22.3
173          Florida  2016                15.5
379         Kentucky  2017                24.6
472         Arkansas  2016                23.6
620         Colorado  2017                14.6
...              ...   ...                 ...
37761  West Virginia  2012                28.2
38154    Puerto Rico  2012                12.6
38235   North Dakota  2012                21.2
38588     New Mexico  2012                19.3
38778          Texas  2012                18.2

[318 rows x 3 columns]

In [57]:
# clean_tobacco_df.to_csv(r'../CleanData/tobacco.csv',index=False)

In [58]:
clean_tobacco_df.to_csv(r'../CleanData/tobacco.csv',index=False)

In [59]:
clean_tobacco_df

               State  Year  tobacco_percentage
10          Missouri  2015                22.3
173          Florida  2016                15.5
379         Kentucky  2017                24.6
472         Arkansas  2016                23.6
620         Colorado  2017                14.6
...              ...   ...                 ...
37761  West Virginia  2012                28.2
38154    Puerto Rico  2012                12.6
38235   North Dakota  2012                21.2
38588     New Mexico  2012                19.3
38778          Texas  2012                18.2

[318 rows x 3 columns]